{% extends "weather/base.html" %}

{% block content %}


    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/10d.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title" id="name"></span>
                                        <br>
                                        <span class="subtitle" id="temp"></span>
                                        <br><span id="desc"></span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function geoFindMe() {

            const weathername = document.querySelector('#name');
            const weathertemp = document.querySelector('#temp');
            const weatherdesc = document.querySelector('#desc');

            {#fetch(`/?latitude=${latitude}&longitude=${longitude}`, {#}
            {#        method: 'GET',#}
            {#        headers: {#}
            {#            'Accept': 'application/json',#}
            {#            'Content-Type': 'application/json',#}
            {#        },#}
            {#    }).then(response => response);#}


            function success(position) {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;


                function weatherFunc(weatherdata) {

                    if (weatherdata) {
                        weathername.textContent = weatherdata.name
                        weathertemp.textContent = `${weatherdata.main.temp}° C`
                        weatherdesc.textContent = weatherdata.weather[0].description
                    } else {
                        weathername.textContent = "We can not find your location. Drop details to get your weather condition everyday."
                    }
                }


                fetch(`http://api.openweathermap.org/data/2.5/weather?lat=${latitude}&lon=${longitude}&units=metric&APPID=4c742b12a83585de3f10066724cd3d85`).then((weather) => weather.json())
                    .then(weatherdata => weatherFunc(weatherdata))
                    .catch(error => {
                        console.error(error)
                    })

            }

            function error(){
               console.log('An occurred on locating the user.')
            }


            navigator.geolocation.getCurrentPosition(success, error);

        }
        addEventListener('load', geoFindMe);

    </script>
{% endblock %}